<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("partials/header"); -%>
      
      <link rel="stylesheet" type="text/css" href="css/films.css">

   </head>
   <body>
      <br>
      <% for(var i=0; i<foundFilms.length; i++) {%>
      <ul>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/The Shawshank Redemption.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[0].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p> <%= foundFilms[0].synopsis %></p>
                        <span class="badge badge-dark"><%= foundFilms[0].genre %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[0].cast %></p>
                        <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[0].rating %></strong></p> 
                        <br>
                        <button type="button" class="reviewbtn btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display: none;" class="review">"<%= foundFilms[0].review %>"</div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/Fight Club.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[1].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[1].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[1].genre %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[1].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[1].rating %></strong></p>
                        <br>
                        <button type="button" class="reviewbtn btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display: none;" class="review">"<%= foundFilms[1].review %>"</div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/Whiplash.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[2].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[2].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[2].genre %></span> <span class="badge badge-dark">Music</span>
                        <br>
                        <p class="font-italic"><%= foundFilms[2].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[2].rating %></strong></p>
                        <br>
                        <button type="button" class="reviewbtn btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px; border-color:#708090; display:none;" class="review">"<%= foundFilms[2].review %>"</div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/watchmen.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[3].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[3].synopsis %></p>
                        <span class="badge badge-dark"><%= foundFilms[3].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[3].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[3].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[3].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[3].rating %></strong></p>
                        <br>
                        <button type="button" class="reviewbtn btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px; border-color:#708090; display:none;" class="review">"<%= foundFilms[3].review %>"</div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/BvS.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[4].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[4].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[4].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[4].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[4].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[4].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[4].rating %></strong></p>
                        <br>
                        <button type="button" class="reviewbtn btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[4].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/master.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[5].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[5].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[5].genre %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[5].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[5].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[5].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/Logan.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[6].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[6].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[6].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[6].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[6].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[6].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[6].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[6].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/Sicario.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[7].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[7].synopsis %></p>
                        <span class="badge badge-dark"><%= foundFilms[7].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[7].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[7].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[7].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[7].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display: none;" class="review">"<%= foundFilms[7].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/Argo.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[8].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[8].synopsis %></p>
                        <span class="badge badge-dark"><%= foundFilms[8].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[8].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[8].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[8].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[8].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[8].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/star is born.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[9].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[9].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[9].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[9].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[9].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[9].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[9].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[9].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/gone girl.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[10].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[10].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[10].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[10].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[10].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[10].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[10].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                         <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[10].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/interstellar.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[11].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[11].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[11].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[11].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[11].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[11].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[11].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                         <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[11].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/usual suspects.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[12].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[12].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[12].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[12].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[12].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[12].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[12].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display: none;" class="review">"<%= foundFilms[12].review %>"  
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>

         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/upgrade.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[13].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[13].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[13].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[13].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[13].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[13].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[13].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[13].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/planet of apes.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[14].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[14].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[14].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[14].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[14].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[14].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[14].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[14].review %>" 
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/ex machina.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[15].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[15].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[15].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[15].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[15].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[15].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[15].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[15].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/orphanage.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[16].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[16].synopsis %></p>
                        <span class="badge badge-dark"><%= foundFilms[16].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[16].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[16].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[16].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[16].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[16].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/two lovers.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[17].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[17].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[17].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[17].genre[1] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[17].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[17].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[17].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/dkr.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[18].title %></h3>
                     </div>
                     <div class="synopsis">
                        <br>
                        <p><%= foundFilms[18].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[18].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[18].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[18].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[18].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[18].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[18].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
         <br>
         <br>
         <li>
            <a class="list-group-item list-group-item-action list-group-item-dark">
               <div class="movie clearfix">
                  <img style="float:left;" src="images/purge.jpg" class="thumbnail">
                  <div class="content" style="display:inline;">
                     <div class="title">
                        <h3><%= foundFilms[19].title %></h3>
                     </div>
                     <div class="synopsis">
                        <p><%= foundFilms[19].synopsis %>
                        </p>
                        <span class="badge badge-dark"><%= foundFilms[19].genre[0] %></span> <span class="badge badge-dark"><%= foundFilms[19].genre[1] %></span> <span class="badge badge-dark"><%= foundFilms[19].genre[2] %></span>
                        <br>
                        <p class="font-italic"><%= foundFilms[19].cast %></p>
                         <h2 style="float:right;"><span id="myfresh" style="float:right;" onclick="this.style.color='yellow';" class="badge badge-secondary">Fresh!</span></h2>
                        <br>
                        <p><strong><%= foundFilms[19].rating %></strong></p>
                        <br>
                        <button type="button" class="btn btn-secondary btn-sm reviewBtn">See my review</button>
                        <div style= "border-radius:10px;border-color:#708090; display:none;" class="review">"<%= foundFilms[19].review %>"
                        </div>
                     </div>
                  </div>
               </div>
            </a>
         </li>
      </ul>
      <% } %>
      <script
         src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous">
       </script>
      <script>
          $(".reviewBtn").hover(function(){
            $(this).next().show();
         },function(){
            $(this).next().hide();
         });
      </script>
  <%- include("partials/footer"); -%>