<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("partials/header"); -%>

<h1>WELCOME TO MY PERSONAL RANTING ARENA!</h1>
<p>Where you'll get news and my UNBIASED opinion about everything Films and TV Shows. This is not a place for people who are easily offended if I talk some crap about their favorite films. Feel free to question my opinion in the comments section and I'll get back to you with an answer.  </p>

<% console.log(posts); %> 

<% posts.forEach(function(post){ %>
<h1> <%= post.title %> </h1>
<p> <%= post.content.substring(0, 100) + "..." %><a href="/posts/<%=post._id%>">Read More</a></p>
<% }) %>
 

<%- include("partials/footer"); -%>